<ul>
    <li><a href="{{ siteUrl('/') }}">Home</a></li>
    <li><a href="{{ siteUrl('/home/blog') }}">Blog</a></li>
    <li><a href="{{ siteUrl('/home/bylaws') }}">Bylaws</a></li>
    <li><a href="{{ siteUrl('/home/officers') }}">Officers</a></li>
    <li><a href="{{ siteUrl('/meeting') }}">Meeting</a></li>
</ul>
