{% macro siteMainMenu(props = {
    home: '/',
    promoLink: {
        label: 'Join us for our next association meeting 02/11/2025',
        url: '#',
    },
    secondaryMenu: [
        {label: 'Meetings', url: '/meeting'},
        {label: 'Membership', url: '/membership'},
        {label: 'About EENA', url: '/about'},
        {label: 'Contact', url: '/contact'},
    ],
    primaryMenu: [
        {label:'Events', url: '/events'},
        {label:'Newsletter', url: '/newsletter'},
        {label:'Directory', url: '/directory'},
        {label:'Store', url: '/#'},
    ],
}) %}
    <header class="">
        {# Main Menu: Secondary Menu #}
        <div class="lg:flex justify-between px-container py-3 bg-black lg:bg-transparent text-white lg:text-black">
            {# Promo #}
            <p class="text-center lg:text-left text-md" aria-label="Promotional Banner">
                <a class="underline-offset-4 group hover:underline" href="{{ siteUrl('/meeting') }}">Join us for our next association meeting 02/11/2025
                    <span class="inline-block group-hover:translate-x-1 transition-transform">{% include '_includes/icons/arrow-right' %}</span>
                </a>
            </p>
            
            {# Spacer #}
            <div class="hidden lg:grow"></div>

            {# Menu #}
            {% if props.secondaryMenu | default([]) | length %}
                <ul class="hidden lg:flex justify-end gap-5" aria-label="Secondary">
                    {% for link in props.secondaryMenu %}
                        <li><a href="{{ link.url }}" class="underline-offset-4 text-sm text-black/75 hover:underline hover:text-black">{{ link.label }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        {# HR #}
        <div class="hidden lg:block h-px bg-black/20"></div>

        {# Main Menu: Logo #}
        <div class="w-full px-container pt-10 pb-10">
            <div class="flex items-center">
                <div class="relative">
                    <div class="absolute top-0 left-0 ml-[calc(-7rem+-20px)] mt-[-3.7rem] size-28">
                        <a href="{{ props.home }}">
                            {# <img src="/static/images/eena-logo.png" class="w-full h-auto"> #}
                            <svg class="w-full h-auto" width="500" height="500" viewBox="0 0 500 500" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="250" cy="250" r="250" fill="black"/>
                                <path d="M109.838 272V181.818H170.605V197.538H128.905V219.027H167.479V234.747H128.905V256.28H170.781V272H109.838ZM201.308 272H180.876L212.008 181.818H236.579L267.667 272H247.235L224.646 202.426H223.941L201.308 272ZM200.031 236.553H248.292V251.436H200.031V236.553ZM325.385 207.754C325.033 204.202 323.521 201.443 320.849 199.476C318.178 197.509 314.553 196.526 309.973 196.526C306.861 196.526 304.234 196.966 302.091 197.847C299.948 198.698 298.304 199.887 297.159 201.413C296.044 202.94 295.486 204.672 295.486 206.609C295.427 208.224 295.765 209.633 296.499 210.837C297.262 212.04 298.304 213.082 299.625 213.963C300.946 214.814 302.473 215.563 304.205 216.209C305.937 216.825 307.786 217.354 309.753 217.794L317.855 219.732C321.789 220.612 325.4 221.786 328.688 223.254C331.975 224.722 334.823 226.527 337.23 228.67C339.637 230.813 341.501 233.338 342.822 236.244C344.173 239.151 344.863 242.482 344.892 246.24C344.863 251.759 343.454 256.544 340.665 260.595C337.905 264.617 333.913 267.743 328.688 269.974C323.491 272.176 317.224 273.277 309.885 273.277C302.605 273.277 296.264 272.161 290.862 269.93C285.49 267.699 281.292 264.397 278.268 260.023C275.274 255.619 273.704 250.174 273.557 243.686H292.007C292.213 246.71 293.079 249.234 294.605 251.26C296.161 253.256 298.231 254.768 300.814 255.795C303.427 256.794 306.377 257.293 309.665 257.293C312.894 257.293 315.697 256.823 318.075 255.884C320.482 254.944 322.347 253.638 323.668 251.964C324.989 250.291 325.649 248.368 325.649 246.196C325.649 244.17 325.047 242.468 323.844 241.088C322.67 239.708 320.938 238.534 318.648 237.565C316.387 236.597 313.613 235.716 310.325 234.923L300.506 232.457C292.902 230.608 286.899 227.716 282.496 223.783C278.092 219.849 275.905 214.55 275.935 207.886C275.905 202.426 277.358 197.656 280.294 193.575C283.259 189.495 287.325 186.31 292.491 184.02C297.658 181.73 303.529 180.585 310.105 180.585C316.798 180.585 322.64 181.73 327.631 184.02C332.651 186.31 336.555 189.495 339.344 193.575C342.133 197.656 343.571 202.382 343.659 207.754H325.385ZM354.282 197.538V181.818H428.348V197.538H400.738V272H381.892V197.538H354.282Z" fill="white"/>
                                <path d="M109.838 384V293.818H170.605V309.538H128.905V331.027H167.479V346.747H128.905V368.28H170.781V384H109.838ZM261.194 293.818V384H244.725L205.491 327.24H204.831V384H185.764V293.818H202.497L241.423 350.534H242.216V293.818H261.194ZM308.916 384H276.947V293.818H309.18C318.251 293.818 326.06 295.624 332.607 299.234C339.153 302.816 344.188 307.968 347.71 314.69C351.262 321.413 353.038 329.456 353.038 338.821C353.038 348.215 351.262 356.288 347.71 363.04C344.188 369.792 339.124 374.973 332.518 378.584C325.943 382.195 318.075 384 308.916 384ZM296.014 367.663H308.124C313.76 367.663 318.501 366.665 322.347 364.669C326.222 362.643 329.128 359.517 331.065 355.29C333.032 351.033 334.016 345.544 334.016 338.821C334.016 332.157 333.032 326.712 331.065 322.484C329.128 318.257 326.236 315.145 322.391 313.149C318.545 311.153 313.804 310.155 308.168 310.155H296.014V367.663Z" fill="white"/>
                                <path d="M109.182 152V105.455H113.432V126.795H139.841V105.455H144.091V152H139.841V130.614H113.432V152H109.182ZM160.682 105.455V152H156.432V105.455H160.682ZM198.33 117.091C198.072 114.5 196.928 112.439 194.898 110.909C192.867 109.379 190.314 108.614 187.239 108.614C185.072 108.614 183.163 108.985 181.511 109.727C179.875 110.47 178.587 111.5 177.648 112.818C176.723 114.121 176.261 115.606 176.261 117.273C176.261 118.5 176.527 119.576 177.057 120.5C177.587 121.424 178.299 122.22 179.193 122.886C180.102 123.538 181.102 124.098 182.193 124.568C183.299 125.038 184.413 125.432 185.534 125.75L190.443 127.159C191.928 127.568 193.413 128.091 194.898 128.727C196.383 129.364 197.739 130.167 198.966 131.136C200.208 132.091 201.201 133.265 201.943 134.659C202.701 136.038 203.08 137.697 203.08 139.636C203.08 142.121 202.436 144.356 201.148 146.341C199.86 148.326 198.011 149.902 195.602 151.068C193.193 152.22 190.307 152.795 186.943 152.795C183.777 152.795 181.027 152.273 178.693 151.227C176.36 150.167 174.527 148.705 173.193 146.841C171.86 144.977 171.11 142.818 170.943 140.364H175.307C175.458 142.197 176.064 143.75 177.125 145.023C178.186 146.295 179.564 147.265 181.261 147.932C182.958 148.583 184.852 148.909 186.943 148.909C189.261 148.909 191.322 148.523 193.125 147.75C194.943 146.962 196.367 145.871 197.398 144.477C198.443 143.068 198.966 141.432 198.966 139.568C198.966 137.992 198.557 136.674 197.739 135.614C196.92 134.538 195.777 133.636 194.307 132.909C192.852 132.182 191.163 131.538 189.239 130.977L183.67 129.341C180.019 128.25 177.186 126.742 175.17 124.818C173.155 122.894 172.148 120.439 172.148 117.455C172.148 114.955 172.814 112.758 174.148 110.864C175.496 108.955 177.314 107.47 179.602 106.409C181.905 105.333 184.489 104.795 187.352 104.795C190.246 104.795 192.807 105.326 195.034 106.386C197.261 107.447 199.027 108.909 200.33 110.773C201.648 112.621 202.352 114.727 202.443 117.091H198.33ZM210.489 109.273V105.455H244.239V109.273H229.489V152H225.239V109.273H210.489ZM290.028 128.727C290.028 133.576 289.165 137.795 287.438 141.386C285.71 144.962 283.331 147.735 280.301 149.705C277.286 151.659 273.816 152.636 269.892 152.636C265.968 152.636 262.491 151.659 259.46 149.705C256.445 147.735 254.074 144.962 252.347 141.386C250.634 137.795 249.778 133.576 249.778 128.727C249.778 123.879 250.634 119.667 252.347 116.091C254.074 112.5 256.453 109.727 259.483 107.773C262.513 105.803 265.983 104.818 269.892 104.818C273.816 104.818 277.286 105.803 280.301 107.773C283.331 109.727 285.71 112.5 287.438 116.091C289.165 119.667 290.028 123.879 290.028 128.727ZM285.892 128.727C285.892 124.561 285.195 120.992 283.801 118.023C282.407 115.038 280.506 112.758 278.097 111.182C275.688 109.606 272.953 108.818 269.892 108.818C266.847 108.818 264.119 109.606 261.71 111.182C259.301 112.758 257.392 115.03 255.983 118C254.589 120.97 253.892 124.545 253.892 128.727C253.892 132.894 254.589 136.462 255.983 139.432C257.377 142.402 259.278 144.682 261.688 146.273C264.097 147.848 266.831 148.636 269.892 148.636C272.953 148.636 275.688 147.848 278.097 146.273C280.521 144.697 282.43 142.424 283.824 139.455C285.218 136.47 285.907 132.894 285.892 128.727ZM300.307 152V105.455H315.33C318.633 105.455 321.39 106.053 323.602 107.25C325.83 108.432 327.504 110.076 328.625 112.182C329.761 114.273 330.33 116.674 330.33 119.386C330.33 122.098 329.761 124.492 328.625 126.568C327.504 128.644 325.837 130.265 323.625 131.432C321.413 132.598 318.67 133.182 315.398 133.182H302.602V129.295H315.284C317.708 129.295 319.723 128.894 321.33 128.091C322.951 127.288 324.155 126.144 324.943 124.659C325.746 123.174 326.148 121.417 326.148 119.386C326.148 117.356 325.746 115.583 324.943 114.068C324.14 112.538 322.928 111.356 321.307 110.523C319.701 109.689 317.67 109.273 315.216 109.273H304.557V152H300.307ZM320.83 131L332.284 152H327.375L316.034 131H320.83ZM344.932 105.455V152H340.682V105.455H344.932ZM393.761 120H389.489C389.17 118.409 388.595 116.939 387.761 115.591C386.943 114.227 385.913 113.038 384.67 112.023C383.428 111.008 382.019 110.22 380.443 109.659C378.867 109.098 377.163 108.818 375.33 108.818C372.39 108.818 369.708 109.583 367.284 111.114C364.875 112.644 362.943 114.894 361.489 117.864C360.049 120.818 359.33 124.439 359.33 128.727C359.33 133.045 360.049 136.682 361.489 139.636C362.943 142.591 364.875 144.833 367.284 146.364C369.708 147.879 372.39 148.636 375.33 148.636C377.163 148.636 378.867 148.356 380.443 147.795C382.019 147.235 383.428 146.455 384.67 145.455C385.913 144.439 386.943 143.25 387.761 141.886C388.595 140.523 389.17 139.045 389.489 137.455H393.761C393.383 139.591 392.67 141.583 391.625 143.432C390.595 145.265 389.277 146.871 387.67 148.25C386.08 149.629 384.246 150.705 382.17 151.477C380.095 152.25 377.814 152.636 375.33 152.636C371.42 152.636 367.951 151.659 364.92 149.705C361.89 147.735 359.511 144.962 357.784 141.386C356.072 137.811 355.216 133.591 355.216 128.727C355.216 123.864 356.072 119.644 357.784 116.068C359.511 112.492 361.89 109.727 364.92 107.773C367.951 105.803 371.42 104.818 375.33 104.818C377.814 104.818 380.095 105.205 382.17 105.977C384.246 106.735 386.08 107.811 387.67 109.205C389.277 110.583 390.595 112.189 391.625 114.023C392.67 115.856 393.383 117.848 393.761 120Z" fill="white"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="grow relative flex items-center">
                    <div class="absolute -top-2 left-0 font-bold text-md tracking-wide text-black/80">The Nashville Edition</div>
                    {% include '_includes/svgs/eena-wordmark' %}
                </div>
            </div>
        </div>
        
        {# HR #}
        <div class="h-px bg-black/20"></div>

        {# Main Menu: Primary Menu #}
        {% if props.primaryMenu | default([]) | length %}
            <nav class="hidden lg:block px-container py-2" aria-label="Primary">
                <ul class="flex justify-between">
                    {% for link in props.primaryMenu %}
                        <li>
                            <a href="{{ link.url }}" class="text-sm uppercase font-semibold leading-6">{{ link.label }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        {% endif %}

        {# HR #}
        <div class="h-px bg-black/20"></div>

    </header>
{% endmacro %}
